/* ===== DEFAULT CSS ===== */

/* ↩️ RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* ⚠️ DEBUG */
.debug ,
.debug * {
    padding: 5px;
    background-color: #ff000022;
    border: 2px dashed red;
}

/* 🔁 VARIABILI */
:root {
    --section-spacing: 1rem;
}



/* ===== CUSTOM CSS BELOW ===== */

/* ⚙️  UTILS */
section {
    padding: calc(2 * var(--section-spacing)) 0;
}




header {
    background-image: url(../img/wall.png);
    padding: 1rem;
}

h1 {
    font-family: 'Edu Tas Beginner', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}







main {
    background-image: url(../img/cork.png);
}


.card {
    border-radius: 0;
    
    transform-origin: top center;
    transition: transform 750ms ease, box-shadow 750ms ease;
}
.card:hover {
    transform: rotate(10deg);

    box-shadow: 0 .66rem 1.15rem rgba(0,0,0,.3) !important;

    z-index: 1000;
}


.card * {
    pointer-events: none;
}
.card-header {
    position: relative;
}
.card-pin {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -25%);
}
.card-img-top {
    background-color: #333;
    display: block;
    border-radius: 0;

    aspect-ratio: 1;
}

.card-title {
    font-family: 'Edu Tas Beginner', sans-serif;
}
.date {
    font-family:'Sometype Mono', 'monospace';
}



#image-detail {
    position: fixed;
    inset: 0;
    /* background-color: rgba(255,255,255,.75); */
    /* background-color: rgba(255,255,255,.25); */
    background-color: rgba(255,255,255,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    z-index: 10000;
}
#image-detail .img-detail-container {
    max-width: 50vw;
    aspect-ratio: 1;
}
#image-detail .img-detail-container img {
    display: block;
    width: 100%;
}













.spinner-overlay {
    background-color: rgba(255,255,255,.5);
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px);
}