/* ===== DEFAULT CSS ===== */

/* ↩️ RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* ⚠️ DEBUG */
.debug ,
.debug * {
    padding: 5px;
    background-color: #ff000022;
    border: 2px dashed red;
}

/* 🔁 VARIABILI */
:root {
    --section-spacing: 1rem;
}



/* ===== CUSTOM CSS BELOW ===== */

/* ⚙️  UTILS */
section {
    padding: calc(2 * var(--section-spacing)) 0;
}




header {
    background-image: url(../img/wall.png);
    padding: 1rem;
}

h1 {
    font-family: 'Edu Tas Beginner', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}







main {
    background-image: url(../img/cork.png);
}


.card {
    border-radius: 0;
}
.card-header {
    position: relative;
}
.card-pin {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -25%);
}
.card-img-top {
    background-color: #333;
    display: block;
    border-radius: 0;

    aspect-ratio: 1;
}

.card-title {
    font-family: 'Edu Tas Beginner', sans-serif;
}
.date {
    font-family:'Sometype Mono', 'monospace';
}